<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PowerAnalyzer.Properties.Settings>
            <setting name="m1" serializeAs="String">
                <value />
            </setting>
            <setting name="m2" serializeAs="String">
                <value />
            </setting>
            <setting name="m3" serializeAs="String">
                <value />
            </setting>
            <setting name="m4" serializeAs="String">
                <value />
            </setting>
            <setting name="m5" serializeAs="String">
                <value />
            </setting>
            <setting name="m6" serializeAs="String">
                <value />
            </setting>
            <setting name="m7" serializeAs="String">
                <value />
            </setting>
            <setting name="m8" serializeAs="String">
                <value />
            </setting>
            <setting name="m9" serializeAs="String">
                <value />
            </setting>
            <setting name="m10" serializeAs="String">
                <value />
            </setting>
            <setting name="m11" serializeAs="String">
                <value />
            </setting>
            <setting name="m12" serializeAs="String">
                <value />
            </setting>
            <setting name="m13" serializeAs="String">
                <value />
            </setting>
            <setting name="m14" serializeAs="String">
                <value />
            </setting>
            <setting name="m15" serializeAs="String">
                <value />
            </setting>
            <setting name="m16" serializeAs="String">
                <value />
            </setting>
            <setting name="m17" serializeAs="String">
                <value />
            </setting>
            <setting name="m18" serializeAs="String">
                <value />
            </setting>
            <setting name="m19" serializeAs="String">
                <value />
            </setting>
            <setting name="m20" serializeAs="String">
                <value />
            </setting>
            <setting name="m21" serializeAs="String">
                <value />
            </setting>
            <setting name="m22" serializeAs="String">
                <value />
            </setting>
            <setting name="m23" serializeAs="String">
                <value />
            </setting>
            <setting name="m24" serializeAs="String">
                <value />
            </setting>
            <setting name="m25" serializeAs="String">
                <value />
            </setting>
            <setting name="m26" serializeAs="String">
                <value />
            </setting>
            <setting name="m27" serializeAs="String">
                <value />
            </setting>
            <setting name="m28" serializeAs="String">
                <value />
            </setting>
            <setting name="m29" serializeAs="String">
                <value />
            </setting>
            <setting name="m30" serializeAs="String">
                <value />
            </setting>
            <setting name="m31" serializeAs="String">
                <value />
            </setting>
            <setting name="m32" serializeAs="String">
                <value />
            </setting>
            <setting name="m33" serializeAs="String">
                <value />
            </setting>
            <setting name="m34" serializeAs="String">
                <value />
            </setting>
            <setting name="m35" serializeAs="String">
                <value />
            </setting>
            <setting name="m36" serializeAs="String">
                <value />
            </setting>
            <setting name="m37" serializeAs="String">
                <value />
            </setting>
            <setting name="m38" serializeAs="String">
                <value />
            </setting>
            <setting name="m39" serializeAs="String">
                <value />
            </setting>
            <setting name="m40" serializeAs="String">
                <value />
            </setting>
            <setting name="m41" serializeAs="String">
                <value />
            </setting>
            <setting name="m42" serializeAs="String">
                <value />
            </setting>
            <setting name="m43" serializeAs="String">
                <value />
            </setting>
            <setting name="m44" serializeAs="String">
                <value />
            </setting>
            <setting name="m45" serializeAs="String">
                <value />
            </setting>
            <setting name="m46" serializeAs="String">
                <value />
            </setting>
            <setting name="m47" serializeAs="String">
                <value />
            </setting>
            <setting name="m48" serializeAs="String">
                <value />
            </setting>
            <setting name="m49" serializeAs="String">
                <value />
            </setting>
            <setting name="m50" serializeAs="String">
                <value />
            </setting>
            <setting name="m51" serializeAs="String">
                <value />
            </setting>
            <setting name="m52" serializeAs="String">
                <value />
            </setting>
            <setting name="m53" serializeAs="String">
                <value />
            </setting>
            <setting name="m54" serializeAs="String">
                <value />
            </setting>
        </PowerAnalyzer.Properties.Settings>
    </userSettings>
</configuration>